<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@opportunityProduct.list.headline">Opportunity Products</h1>
    <div>
        <a routerLink="/opportunityProducts/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@opportunityProduct.list.createNew">Create new Opportunity Product</a>
    </div>
</div>
@if (!opportunityProducts || opportunityProducts.length === 0) {
<div i18n="@@opportunityProduct.list.empty">No Opportunity Products could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@opportunityProduct.quantity.label">Quantity</th>
                <th scope="col" class="text-left p-2" i18n="@@opportunityProduct.price.label">Price</th>
                <th scope="col" class="text-left p-2" i18n="@@opportunityProduct.opportunity.label">Opportunity</th>
                <th scope="col" class="text-left p-2" i18n="@@opportunityProduct.product.label">Product</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (opportunityProduct of opportunityProducts; track opportunityProduct.quantity) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ opportunityProduct.quantity }}</td>
                <td class="p-2">{{ opportunityProduct.price }}</td>
                <td class="p-2">{{ opportunityProduct.opportunity }}</td>
                <td class="p-2">{{ opportunityProduct.product }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/opportunityProducts/edit', opportunityProduct.quantity]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@opportunityProduct.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(opportunityProduct.quantity!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm cursor-pointer" i18n="@@opportunityProduct.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
