<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@opportunityProduct.add.headline">Add Opportunity Product</h1>
    <div>
        <a routerLink="/opportunityProducts" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@opportunityProduct.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="price" i18n-label="@@opportunityProduct.price.label" label="Price" />
    <app-input-row [group]="addForm" field="opportunity" rowType="select" [options]="opportunityValues" i18n-label="@@opportunityProduct.opportunity.label" label="Opportunity" />
    <app-input-row [group]="addForm" field="product" rowType="select" [options]="productValues" i18n-label="@@opportunityProduct.product.label" label="Product" />
    <input type="submit" i18n-value="@@opportunityProduct.add.headline" value="Add Opportunity Product" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
