<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@user.edit.headline">Edit User</h1>
    <div>
        <a routerLink="/users" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@user.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="userId" i18n-label="@@user.userId.label" label="User Id" />
    <app-input-row [group]="editForm" field="username" i18n-label="@@user.username.label" label="Username" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@user.email.label" label="Email" />
    <app-input-row [group]="editForm" field="passwordHash" i18n-label="@@user.passwordHash.label" label="Password Hash" />
    <app-input-row [group]="editForm" field="firstName" i18n-label="@@user.firstName.label" label="First Name" />
    <app-input-row [group]="editForm" field="lastName" i18n-label="@@user.lastName.label" label="Last Name" />
    <input type="submit" i18n-value="@@user.edit.headline" value="Edit User" class="inline-block text-white bg-violet-600 hover:bg-violet-500 rounded-full px-5 py-2 cursor-pointer mt-6 font-medium" />
</form>
