<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@activityRelation.add.headline">Add Activity Relation</h1>
    <div>
        <a routerLink="/activityRelations" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@activityRelation.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="activity" rowType="select" [options]="activityValues" i18n-label="@@activityRelation.activity.label" label="Activity" />
    <app-input-row [group]="addForm" field="account" rowType="select" [options]="accountValues" i18n-label="@@activityRelation.account.label" label="Account" />
    <app-input-row [group]="addForm" field="contact" rowType="select" [options]="contactValues" i18n-label="@@activityRelation.contact.label" label="Contact" />
    <app-input-row [group]="addForm" field="opportunity" rowType="select" [options]="opportunityValues" i18n-label="@@activityRelation.opportunity.label" label="Opportunity" />
    <input type="submit" i18n-value="@@activityRelation.add.headline" value="Add Activity Relation" class="inline-block text-white bg-violet-600 hover:bg-violet-500 rounded-full px-5 py-2 cursor-pointer mt-6 font-medium" />
</form>
