<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@memo.add.headline">Add Memo</h1>
    <div>
        <a routerLink="/memos" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@memo.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="relatedToType" i18n-label="@@memo.relatedToType.label" label="Related To Type" />
    <app-input-row [group]="addForm" field="relatedToId" i18n-label="@@memo.relatedToId.label" label="Related To Id" />
    <app-input-row [group]="addForm" field="memoText" rowType="textarea" i18n-label="@@memo.memoText.label" label="Memo Text" />
    <app-input-row [group]="addForm" field="createdAt" i18n-label="@@memo.createdAt.label" label="Created At" />
    <app-input-row [group]="addForm" field="user" rowType="select" [options]="userValues" i18n-label="@@memo.user.label" label="User" />
    <input type="submit" i18n-value="@@memo.add.headline" value="Add Memo" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
