<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@memo.edit.headline">Edit Memo</h1>
    <div>
        <a routerLink="/memos" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@memo.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="memoId" i18n-label="@@memo.memoId.label" label="Memo Id" />
    <app-input-row [group]="editForm" field="relatedToType" i18n-label="@@memo.relatedToType.label" label="Related To Type" />
    <app-input-row [group]="editForm" field="relatedToId" i18n-label="@@memo.relatedToId.label" label="Related To Id" />
    <app-input-row [group]="editForm" field="memoText" rowType="textarea" i18n-label="@@memo.memoText.label" label="Memo Text" />
    <app-input-row [group]="editForm" field="user" rowType="select" [options]="userValues" i18n-label="@@memo.user.label" label="User" />
    <input type="submit" i18n-value="@@memo.edit.headline" value="Edit Memo" class="inline-block text-white bg-violet-600 hover:bg-violet-500 rounded-full px-5 py-2 cursor-pointer mt-6 font-medium" />
</form>
