<h1 class="grow text-3xl md:text-4xl font-medium mb-8" i18n="@@home.index.headline">CRM Demo</h1>
<p class="mb-12">
    <span i18n="@@home.index.swagger.text">Server status:</span>
    <a [href]="environment.apiPath" target="_blank" [ngClass]="{
        'text-yellow': serverState === 'wakingUp',
        'text-green': serverState === 'running',
        'text-gray': serverState === 'checking'
    }">
        <ng-container *ngIf="serverState === 'checking'">Checking...</ng-container>
        <ng-container *ngIf="serverState === 'wakingUp'">Server is waking up</ng-container>
        <ng-container *ngIf="serverState === 'running'">Running</ng-container>
    </a>
</p>

<p class="mb-12">
    <span i18n="@@home.index.swagger.text">Swagger documentation is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" class="underline" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="mb-12">
    <h4 class="text-2xl font-medium mb-4" i18n="@@home.index.exploreEntities">Perform simple CRUD operations on the tables.</h4>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <app-nav-card *ngFor="let navLink of navLinks" [link]="navLink.link" [icon]="navLink.icon" [title]="navLink.title"></app-nav-card>
    </div>
</div>

<app-floating-action-button href="https://github.com/BachiDev/crm-demo"></app-floating-action-button>